<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <title>Document</title>
</head>
<body>
    <section class="intro" id="intro">
        <h2>
            Want to launch your ideas?
        </h2>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada vehicula tincidunt. </p>
        <button class="btn-gradient">Get a Quote!</button>
        <div class="intro-img"></div>
    </section>
    <section class="desc-section">
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada vehicula tincidunt. Donec justo justo, euismod eu viverra vel, fermentum ut neque. Donec ultrices arcu non libero iaculis suscipit. Phasellus velit sapien, porttitor nec ultricies quis, hendrerit in lorem. Donec posuere, dui eget feugiat consequat, sapien lorem porta ipsum, id ullamcorper turpis felis et mi. Duis sagittis tincidunt velit in vehicula. Phasellus tincidunt eget ante ut aliquet.</p>
    </section>
    <section class="our-work">
        <h2 class="home-headings">OUR WORK</h2>
        <div class="outer-box">
            <div class="img-box">
                <img src="../images/GetGoing.png" alt="" srcset="">
                <div class="card">
                    <h3>Get Going</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed nulla nostrum eos a illo error nesciunt! Sequi cumque, iusto non quia hic mollitia inventore doloribus et rerum ipsa eos?</p>
                    <a href="http://">View the project</a>
                </div>
            </div>
            <div class="img-box">
                <img src="../images/LeonardoFernandez.png" alt="" srcset="">
    
                <div class="card">
                    <h3>LEONARDO FERNANDEZ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed nulla nostrum eos a illo error nesciunt! Sequi cumque, iusto non quia hic mollitia inventore doloribus et rerum ipsa eos?</p>
                    <a href="http://">View the project</a>
                </div>
            </div>
            <div class="img-box">
                <img src="../images/GetGoing.png" alt="" srcset="">
    
                <div class="card">
                    <h3>Get Going</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed nulla nostrum eos a illo error nesciunt! Sequi cumque, iusto non quia hic mollitia inventore doloribus et rerum ipsa eos?</p>
                    <a href="http://">View the project</a>
                </div>
            </div>
            <div class="img-box">
                <img src="../images/LeonardoFernandez.png" alt="" srcset="">
    
                <div class="card">
                    <h3>LEONARDO FERNANDEZ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed nulla nostrum eos a illo error nesciunt! Sequi cumque, iusto non quia hic mollitia inventore doloribus et rerum ipsa eos?</p>
                    <a href="http://">View the project</a>
                </div>
            </div>
        </div>
    </section>
    <section class="our-process">
        <h2 class="home-headings">OUR PROCESS</h2>
        <div class="our-process-list">
            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada vehicula tincidunt. </p>
            <button class="btn-gradient">See our process</button>
        </div>
        <div class="our-process-list">
            <div class="our-process-desc">
                <h3>We are obsessed with quality</h3>
                <p class="para">We believe that quality is paramount and it reflects in everything we do. Attention to detail is key and this is how we build world class apps</p>
            </div>
            <div class="img-box">
    
                <img src="../images/Coding-light.png" alt="" srcset="">
            </div>
            
        </div>
        <div class="our-process-list">
            <div class="img-box">
    
                <img src="../images/Coding-light.png" alt="" srcset="">
            </div>
    
            <div class="our-process-desc">
                <h3>We are obsessed with quality</h3>
                <p class="para">We believe that quality is paramount and it reflects in everything we do. Attention to detail is key and this is how we build world class apps</p>
            </div>
        </div>
    
    </section>

    <script src="./js/home.js"></script>
</body>
</html>