@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500");

html {
  scroll-behavior: smooth;
  font-family: sans-serif !important;
  overflow-x: hidden;
}

body {
  background: linear-gradient(220deg, #180000, #1c0011 15%, #210126 36%, #0d0125 75%);
  color: #fff;
  letter-spacing: 0.02rem;
  background-repeat: no-repeat;
  font-family: "Montserrat", serif;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

ul {
  list-style: none;
}

.menu {
  align-items: center;
  display: flex;
}

.menu li {
  margin-left: 2rem;
}

.menu li a {
  color: white !important;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 75px;
  padding-right: 75px;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 75px;
  padding-left: 75px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  padding-right: 75px;
  padding-left: 75px;
  margin-bottom: 150px;
}

.btn {
  background: linear-gradient(270deg, #0e87c1, #500ec1);
  color: rgba(255, 255, 255, 0.8) !important;
  padding: 0 !important;
  border-radius: 40.25rem !important;
  display: block;
  max-width: max-content;
  padding-right: 75px;
  padding-left: 75px;
}

.btn-inner {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.btn-inner-home {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 0 3rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgba(14, 135, 193, 0.8);
}

.section_content {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #C7C7C7;
  padding-right: 160px;
  padding-left: 140px;
  margin-bottom: 200px;
}

.section_maintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding-right: 75px;
  padding-left: 75px;
}

.section_submaintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}

.maintitle_content {
  display: flex;
  margin-bottom: 200px;
}

.image_text {
  display: flex;
}

.section_images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}

.image_bitmap1 {
  margin-top: 250px;
}

.section_contact {
  display: flex;
  padding-right: 75px;
  padding-left: 75px;
  justify-content: space-around;
  margin-bottom: 200px;
}

.section_contacttitle {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 250px;
  padding-left: 275px;
}

.contact_title {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

address {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.head_add {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.section_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_icon {
  display: flex;
  padding-left: 170px;
}

.footer {
  border-top: 1px solid #0E87C1;
}

.address_email {
  margin-bottom: 15px;
  color: #0E87C1;
}

.address_phone {
  color: #0E87C1;
}

.content_image {
  width: 60%;
}

.image_text_homepage {
  width: 100%;
}

.contact_address {
  margin-top: 12px;
}

.icons {
  width: 18px;
}

@media (max-width: 1400px) {
  .section_contacttitle {
    padding-left: 240px;
  }

  .footer_icon {
    padding-left: 145px;
  }
}

@media (max-width: 1200px) {
  .section_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer_icon {
    padding-left: 115px;
  }

  .section_contacttitle {
    padding-left: 195px;
  }

  .head_add {
    font-size: 22px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }
}


@media (max-width: 992px) {
  h1 {
    font-size: 55px;
  }

  .footer_icon {
    padding-left: 80px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 75px;
    padding-right: 75px;
  }

  .image_text_homepage {
    padding-left: 75px;
    width: 60%;
  }

  .bitmap {
    padding-left: 75px;
  }

  .section_contacttitle {
    padding-left: 163px;
  }

  .head_add {
    font-size: 16px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .content_image {
    width: 100%;
  }

  .section_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}



@media (max-width: 768px) {
  nav {
    justify-content: space-around;
  }

  header {
    display: flex;
    padding-left: 75px;
  }

  .head_logo {
    width: 120px;
    height: 40px;
  }

  .menu {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .menu li {
    margin-left: 14px;
  }

  h1 {
    font-size: 55px;
  }

  p {
    font-size: 20px;
  }

  .section_content {
    font-size: 22px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_contacttitle {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_contact {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 80px;
    padding-right: 80px;
  }

  .contact_address {
    margin-bottom: 20px;
  }

  .footer_icon {
    padding-left: 40px;
  }

  .section_submaintitile {
    font-size: 25px;
  }


  .image_text_homepage {
    width: 60%;
    padding-left: 75px;
  }

  .bitmap {
    padding-left: 75px;
  }

  .content_image {
    width: 100%;
  }

  .section_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


@media (max-width: 576px) {
  nav {
    display: block;
  }

  header {
    display: flex;
    padding-left: 75px;
    flex-direction: column;
    align-items: flex-start
  }

  .head_logo {
    width: 120px;
    height: 40px;
  }

  .menu {
    display: flex;
    font-size: 12px;
    padding-left: 0;
  }

  .menu li {
    margin-left: 14px;
  }

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 20px;
  }

  .section_content {
    font-size: 20px;
  }


  .image_text_homepage {
    width: 60%;
    padding-left: 75px;
  }

  .bitmap {
    width: 70%;
    padding-left: 75px;
  }

  .head_add {
    font-size: 16px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .section_footer {
    font-size: 14px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_contacttitle {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_contact {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 75px;
    padding-right: 75px;
  }

  .contact_address {
    margin-bottom: 20px;
  }

  .section_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section_submaintitile {
    font-size: 25px;
  }

  .content_image {
    width: 100%;
  }

  .footer_icon {
    padding: 0;
  }
}


@media (max-width: 320px) {
  header {
    display: flex;
    padding: 0;
  }

  h1 {
    font-size: 45px;
    padding: 0;
  }

  p {
    padding: 0;
    font-size: 18px;
  }

  .menu {
    display: flex;
    font-size: 12px;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
  }

  .button {
    width: 287px;
    padding: 0;
  }

  .section_maintitile {
    padding: 0;
  }

  .section_submaintitile {
    padding: 0;
  }

  .section_contacttitle {
    padding: 0;
  }

  .section_content {
    padding: 0;
    font-size: 18px;
  }

  .btn-inner {
    font-size: 12px;
  }

  .btn-inner-home {
    padding: 0 3rem;
    font-size: 18px;
  }

  .image_text_homepage {
    width: 100%;
    padding-left: 0;
  }

  .bitmap {
    width: 100%;
    padding-left: 0;
  }

  .section_contact {
    padding: 0;
  }

  .head_add {
    font-size: 12px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .section_footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  .footer_icon {
    display: flex;
    justify-content: space-around;
  }
}