header{
    display: flex;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    @include xl{
        justify-content: space-around;
    }
    svg{
        width: clamp(180px,20vw + 1rem,300px);
    }
}

.scrolled {
  background: rgba(14, 5, 42, 0.9);
}

.nav-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    padding-block:60px;
    align-items: center;
    top:0;
    right: -100%;
    transition: 1s ease ;
    background-image: linear-gradient(45deg,$darkblue,$darkpurple);
    @include xl{
        position: static;
        flex-direction: row;
        height: auto;
        padding: 0;
        width:auto;
        background: none;
        transition: none;
        
    }
    .nav-link{
        color: $blue;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        padding-block: 40px;
        transition: 1s ease;
        @include xl{
            color: white;
            font-weight: 400;
            font-size: 1rem;
            padding: 0;
            padding-inline: 1rem;
            background: none;
            transition: none;
        }
        &:hover{
            color: $blue;
        }
    }
}
.hamburger{
    display:block;
    cursor:pointer;
    @include xl{
        display: none;
    }
    .bar{
        display:block;
        width:30px;
        height:4px;
        margin:7px;
        background-color:$blue;
        transition: 600ms;
    }
}
.active{
    .bar:nth-child(2){
        opacity:0;
    }
    .bar:nth-child(1){
        transform:translateY(11px) rotate(45deg);
    }
    .bar:nth-child(3){
        transform:translateY(-11px) rotate(-45deg);
    }
}
.active{
    right:0px !important;
}
