.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*button styles*/

.btn {
	background: linear-gradient(270deg, #0e87c1, #500ec1);
	border: none;
	color: rgba(255, 255, 255, .8);
	padding: 0 ;
	border-radius: 40.25rem;
	cursor: pointer;
	display: block;
	font-size: 1.2rem;
}
  
.btn-inner {
	background-color: rgba(13, 1, 37, .9);
	border-radius: 33px;
	display: inline-block;
	margin: 2px;
	padding: 1rem 3rem;
	text-transform: uppercase;
}

/*Header Section*/

#header{
        z-index: 1;
        position: fixed;
        display: flex;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
    }
  
#header.scrolled {
      background: rgba(14, 5, 42, 0.9);
      color: #e0e0e0;
    transition: all 0.3s ease;
}

.nav-menu{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        .img-logo{
            background-image: url('../assets/logo/Ozzitech logo Light.png');
            width: 200px;
            height: 40px;
            margin-right: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @include lg{
                width:250px;
                height: 100px;
            }
            @include xl{
                width:300px;
                height: 100px;
            }
        }

    }
    .nav-list{
        display: flex;
        gap:25px;
        position: fixed;
        z-index: 3;
        // position:absolute;
        background-image: linear-gradient(rgb(32, 8, 37),rgb(8, 8, 19));
        padding:60px 0;
        right:0;
        top:0;
        margin:0;
        width:100%;
        height: 100vh;
        transition: 1s ease;
        right: -1300px;
        flex-direction: column;
        .nav-item{
            margin-left: 10%;
            list-style-type: none;
            @include xxl{
                padding: 20px !important;
            }
            .nav-link{
                text-decoration: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 1.5rem;
                line-height: 22px;
                text-align: right;
                text-transform: uppercase;
                color: $blue;
            }
        }
        @include xl{
            justify-content: end;
            flex-direction: row;
            transition: none;
            position: static;
            background-image: none;
            height: auto;
            padding: 0;
            .nav-item{
                margin-left: 0;
                padding: 0;
                .nav-link{
                    white-space: nowrap;
                    font-size: 1rem;
                    color: #FFFFFF;
                    &:hover{
                        color:$blue;
                    }

                }
            }
        }

    }
    .hamburger{
        display:block;
        z-index: 3;
        cursor:pointer;
        right:0;
        @include sm{
            display:block;
        }
        @include xl{
            display: none;
        }
        .bar{
            transition: 600ms;
            width:30px;
            height:4px;
            border-radius: 5px;
            display:block;
            margin:7px;
            background-color:$blue;
        }
    }
    .active{
        .bar:nth-child(2){
            opacity:0;
        }
        .bar:nth-child(1){
            transform:translateY(11px) rotate(45deg);
        }
        .bar:nth-child(3){
            transform:translateY(-10px) rotate(-45deg);
        }
    }
}
.active{
    right:0px !important;
}

/*Intro Section*/

.intro{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    margin-top: 15%;
    background-image: url('../assets/images/Stars.png');
    background-size: contain;
    font-family: $font-family;
    text-align: center;
    align-items: center;
    @include lg{
        padding: 20px 100px;
        text-align: left;
        align-items: flex-start;
        margin-top: 10%;
    }

    h2{
        width: 100%;
        font-size: 2.5rem;
        line-height: 1em;
        color: $blue;
        font-weight: 300;
        text-align: center;
        @include sm{
            font-size: 4rem;
        }

        @include md{
            width: 100%;
        }
        @include lg{
            width: 70%;
            font-size: 6em;
            text-align: left;
        }
        
    }
    p{
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 200;
        width: 80%;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
        align-self: center;
        @include md{
            font-size: 1.3rem;
            width: 80%;
        }
        @include lg{
            width: 50%;
            padding: 0;
            font-size: 1.2rem;
            text-align: left;
            align-self: flex-start;
        }
    }
    button{
        align-self: center;
        max-width: max-content;
        @include lg{
            margin-left: 0px;
            margin-top: 30px;
            align-self:flex-start;
        }

    .btn-inner{
        padding: 0.5em 2em;
        font-size: 0.8em;
    }
    }
    &-img{
        background-image: url('../assets/images/Rocket.png');
        width:100px;
        height: 180px;
        margin-top: 20px;
        align-self: flex-end;
        background-repeat: no-repeat;
        background-size: contain;
        @include md{
            width: 150px;
        }
        @include lg{
            width: 180px;
        }

    }
}

/*Decription Section*/

.desc-section{
    margin:40px 10px;
    @include md{
        margin:40px;
    }
    @include lg{
        margin: 50px 200px;
    }
    @include xl{
        margin: 100px 350px;

    }
    p{
        font-weight: 200;
        font-size: clamp(0.5rem,1rem,1.2rem);
        line-height: 1.5;
        color: #FFFFFF;
        text-align: center;
        padding: 0;
    }
}

/*Our Work Section*/

.our-work{
    display:flex;
    flex-direction: column;
    margin: 40px 10px;
    gap:30px;
    @include md{
        margin: 40px;
    }
    @include xl{
        margin: 50px 100px;
    }
    h2{
        padding:10px 0px;
        border-bottom: 3px solid $blue;
        width: 70%;
        font-weight: 500;
        @include xl{
            width:30%;
        }

    }
    .outer-box{
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        .img-box{
            width: 60%;
            height: auto;
            margin-bottom: 3rem;
            @include sm{
                margin-bottom: 100px;
            }
            // @include sm{
            //     margin-bottom: 200px;
            // }
            @include md{
                margin-bottom: 200px;
            }
            // @include xl{
            //     height: 700px;
            // }
            img{
                max-width: 100%;
                max-height: 100%;
            }
            &:nth-child(even){
                align-self: flex-end;
                .card{
                    margin-left: -20%;
                }
                
            }
            &:nth-child(odd){
                .card{
                    margin-left: 60%;
                }
            }
            .card{
                display: flex;
                flex-direction: column;
                color:#021132;
                width: 50%;
                opacity: 0.9;
                background-color: white;
                margin-top: -50%;
                font-size: 0.5rem;
                padding:10px;
                @include xl{
                    padding: 25px 50px;
                    font-size: 1em;
                }
                p{
                    color: #021132;
                    font-size: 1em;
                    margin:0;
                    padding:0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include md{
                        white-space: normal;
                    }
                }
                a{
                    text-decoration: none;
                    color: #021132;
                    align-self: end;
                    margin-top: 5px;
                    @include xl{
                        margin-top: 20px;

                    }
                &:hover{
                    color: $purple;
                    font-weight: 600;
                }
                }
                
            }
        }
    }   
}

/*Our Process Section*/

.our-process{
    margin: 100px 10px;
    display: flex;
    flex-direction: column;
    @include md{
        margin: 40px;
    }
    @include lg{
        margin-top: 200px;
    }
    @include xl{
        margin: 50px 100px;
    }
    h2{
        padding: 10px 0px;
        border-bottom: 3px solid $blue;
        width:70%;
        font-weight: 500;
        @include xl{
            width: 30%;
        }
    }
    .our-process-list{
        margin-bottom: 130px;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
        @include md{
            flex-direction: row;
            text-align: left;
        }
        .btn-inner{
            padding: 0.5em 2em;
            font-size: 0.8em;
        }
        .btn{
            height: max-content;
        }

        p{
            padding: 0;
            font-weight: 300;
            font-size: 1rem;
            line-height: 35px;        @include md{
                font-size: 1.3rem;
                width: 80%;
            }
            @include lg{
                font-size: 1.3rem;
            }

        }
        p:first-child{
            width: 100%;
            @include lg{
                width:50%;
            }
            @include xl{
                width:60%;
            }
        }
        .img-box{
            display: none;

            img{
                width: 100%;
            }
            @include md{
                display: block;
            }
            @include xl{
                height: full;
                width: 30%;
            }
        }
        .our-process-desc{
            width:100%;
            display: flex;
            flex-direction: column;
            @include xl{
                width: 60%;
            }
            h3{
                margin: 0;
                font-size: 2.3rem;
                font-weight: 500;
                color: #0E87C1;
                @include xl{
                    font-size: 5rem;
                }
            }
            p{
                font-size: 1em;
                @include lg{
                    font-size: 1.3rem;
                }
            }
        }
    }
}

/*Footer Section*/

footer{
    border-top: 2px solid $blue;
    .footer-box{
        margin: 30px;
        font-size: 0.7em;
        font-weight: 200;
        display: flex;
        justify-content: space-between;
        @include md{
            font-size: 1em;
        }
        p{
            padding: 0;
            font-size: 1em;
        }
        .ozzitech-info{
            .img-box{
                height: 20px;
                width: 100%;
                background:url('../assets/logo/Ozzitech\ logo\ Light.png');
                background-size: contain;
                background-repeat: no-repeat;
                @include md{
                    height: 30px;

                }
            }
            .socials{
                margin-top: 10px;
                display: flex;
                gap: 20px;
                div{
                    width:20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $blue;
                    overflow: hidden;
                    @include md{
                        width:40px;
                        height: 40px;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .terms-box{
            flex-direction: column;
            display: flex;
            @include xl{
                gap:30px;
                flex-direction: row;

            }
        }
    }
}
