html {
	scroll-behavior: smooth;
	font-family: sans-serif !important;
	overflow-x: hidden;
}
body {
	background: linear-gradient(220deg, #180000, #1c0011 15%, #210126 36%, #0d0125 75%);
	color: #fff;
	letter-spacing: .02rem;
	background-repeat: no-repeat;
}
.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.home_head {
	margin-top: 50px;
	width: 80%;
	font-style: normal;
	font-weight: 300;
	font-size: 90px;
	line-height: 110px;
	color: #0E87C1;
}
.home_content {
	width: 70%;
	margin-top: 20px;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.8);
}

.btn {
	background: linear-gradient(270deg, #0e87c1, #500ec1);
	border: none;
	color: rgba(255, 255, 255, .8) !important;
	padding: 0 !important;
	border-radius: 40.25rem !important;
	cursor: pointer;
	display: block;
	font-size: 1.2rem;
  }
  
  .btn-inner {
	background-color: rgba(13, 1, 37, .9);
	border-radius: 33px;
	display: inline-block;
	margin: 2px;
	padding: 1rem 3rem;
	text-transform: uppercase;
  }