.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#header{
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
    }
  
#header.scrolled {
      background: rgba(14, 5, 42, 0.9);
      color: #e0e0e0;
    transition: all 0.3s ease;
  }

.btn {
	background: linear-gradient(270deg, #0e87c1, #500ec1);
	border: none;
	color: rgba(255, 255, 255, .8);
	padding: 0 ;
	border-radius: 40.25rem;
	cursor: pointer;
	display: block;
	font-size: 1.2rem;
  }
  
  .btn-inner {
	background-color: rgba(13, 1, 37, .9);
	border-radius: 33px;
	display: inline-block;
	margin: 2px;
	padding: 1rem 3rem;
	text-transform: uppercase;
  }

.nav-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        .img-logo{
            background-image: url('../assets/logo/Ozzitech logo Light.png');
            width: 200px;
            height: 40px;
            margin-right: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @include lg{

                width:300px;
                height: 100px;
            }
        }

    }
    .nav-list{
        display: flex;
        gap:25px;
        position: fixed;
        z-index: 3;
        // position:absolute;
        background-image: linear-gradient(rgb(32, 8, 37),rgb(8, 8, 19));
        padding:60px 0;
        right:0;
        top:0;
        margin:0;
        width:100%;
        height: 100vh;
        transition: 1s ease;
        right: -1000px;
        flex-direction: column;
        li{
            padding:20px;
        }
        .nav-item{
            list-style-type: none;
            .nav-link{
                text-decoration: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                text-align: right;
                text-transform: uppercase;
                color: #FFFFFF;
                &:hover{
                    color:$blue;
                }
            }
        }
        @include lg{
            flex-direction: row;
            transition: none;
            position: static;
            background-image: none;
            height: auto;
            padding: 0;
        }
    }
    .hamburger{
        display:block;
        z-index: 3;
        cursor:pointer;
        right:0;
        @include sm{
            display:block;
        }
        @include lg{
            display: none;
        }
        .bar{
            transition: 600ms;
            width:30px;
            height:4px;
            border-radius: 5px;
            display:block;
            margin:7px;
            background-color:white;
        }
    }
    .active{
        .bar:nth-child(2){
            opacity:0;
        }
        .bar:nth-child(1){
            transform:translateY(11px) rotate(45deg);
        }
        .bar:nth-child(3){
            transform:translateY(-10px) rotate(-45deg);
        }
    }
}

.active{
    right:0px !important;
    // display:block !important;
}

.intro{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    margin-top: 10%;
    background-image: url('../assets/images/Stars.png');
    background-size: contain;
    font-family: $font-family;
    @include sm{
        padding: 10px ;
        font-size: 0.7em;
        text-align: center;
        align-items: center;
    }
    @include lg{
        padding: 20px 100px;
        text-align: left;
        align-items: flex-start;
    }
    
    h2{
        width: 100%;
        font-size: 3em;
        line-height: 1em;
        color: $blue;
        font-weight: 400;
        text-align: center;

        @include md{
            width: 100%;
            font-size: 4.5em;
            line-height: 1em;
        }
        @include lg{
            width: 70%;
            font-weight: 300;
            font-size: 6em;
            line-height: 1.5em;
            text-align: left;
    
        }
        
    }
    p{
        color: #FFFFFF;
        font-size: 1em;
        width: 80%;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
        align-self: center;
        @include md{
            font-size: 1.5em;
            width: 80%;
        }
        @include lg{
            width: 50%;
            line-height: 1.5em;
            padding: 0;
            font-size: 2em;
            text-align: left;
            align-self: flex-start;
        }
    }
    button{
        align-self: center;
        max-width: max-content;
        @include lg{
            margin-left: 20px;
            margin-top: 30px;
            align-self:flex-start;
        }
    }
    &-img{
        background-image: url('../assets/images/Rocket.png');
        width:180px;
        height: 180px;
        margin-top: 20px;

        align-self: flex-end;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.desc-section{
    margin:40px 10px;
    @include md{
        margin:40px;
    }
    @include lg{
        margin: 100px 350px;

    }
    p{
        font-weight: 200;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
        text-align: center;
        padding: 0;
    }
}

.our-work{
    display:flex;
    flex-direction: column;
    margin: 40px 10px;
    gap:30px;
    @include sm{
    }
    @include md{
        margin: 40px;
    }
    @include lg{
        margin: 50px 100px;
    }
    h2{
        padding:10px 0px;
        border-bottom: 3px solid $blue;
        width: 70%;
        font-weight: 500;
        @include lg{
            width:30%;
        }

    }
    .outer-box{
        display: flex;
        flex-direction: column;
        gap: 100px;
        
        .img-box{
            width: 70%;
            height: auto;
            @include md{
                margin: 100px;
            }
            @include lg{
                height: 700px;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
            &:nth-child(even){
                align-self: flex-end;
                .card{
                    margin-left: -20%;
                }
                
            }
            &:nth-child(odd){
                .card{
                    margin-left: 60%;
                }
                
            }

            .card{
                display: flex;
                flex-direction: column;
                color:#021132;
                width: 50%;
                opacity: 0.9;
                background-color: white;
                margin-top: -50%;
                font-size: 0.6em;
                padding:10px;
                @include lg{
                    padding: 25px 50px;
                    font-size: 1em;

                }
                p{
                    color: #021132;
                    font-size: 1em;
                    margin:0;
                    padding:0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include sm{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    @include md{
                        white-space: normal;
                    }
                }
                a{
                    text-decoration: none;
                    color: #021132;
                    align-self: end;
                    margin-top: 5px;
                    @include lg{
                        margin-top: 20px;

                    }
                &:hover{
                    color: $purple;
                    font-weight: 600;
                }
                }
                
            }
        }
    }   
}

.our-process{
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
    @include md{
        margin: 40px;
    }
    @include lg{
        margin: 50px 100px;
    }
    h2{
        padding: 10px 0px;
        border-bottom: 3px solid $blue;
        width:70%;
        font-weight: 500;
        @include lg{
            width: 30%;
        }
    }
    .our-process-list{
        margin-bottom: 130px;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
        @include md{
            flex-direction: row;
            text-align: left;
        }
        .btn{
            height: max-content;
        }

        p{
            padding: 0;
            font-weight: 300;
            font-size: 18px;
            line-height: 35px;
        }
        p:first-child{
            width: 100%;
            @include lg{
                width:60%;

            }
        }

        .img-box{
            display: none;

            img{
                width: 100%;
            }
            @include md{
                display: block;
            }
            @include lg{
                height: full;
                width: 30%;
            }
        }
        .our-process-desc{
            
            width:100%;
            display: flex;
            flex-direction: column;
            @include lg{
                width: 60%;
            }
            h3{
                margin: 0;
                font-size: 2.3em;
                font-weight: 500;
                color: #0E87C1;
                @include sm{
                    font-size: 3em;
                }
            }
            p{
                font-size: 1em;
            }
            

        }
    }

}

footer{
    border-top: 2px solid $blue;
    .footer-box{
        margin: 30px;
        font-size: 0.7em;
        font-weight: 200;
        display: flex;
        justify-content: space-between;
        @include md{
            font-size: 1em;
        }
        p{
            padding: 0;
            font-size: 1em;
        }
        .ozzitech-info{
            .img-box{
                height: 20px;
                width: 100%;
                background:url('../assets/logo/Ozzitech\ logo\ Light.png');
                background-size: contain;
                background-repeat: no-repeat;
                @include md{
                    height: 30px;

                }
            }
            .socials{
                margin-top: 10px;
                display: flex;
                gap: 20px;
                div{
                    width:20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $blue;
                    overflow: hidden;
                    @include md{
                        width:40px;
                        height: 40px;
    

                    }
                    img{
                        height: 100%;
                        width: 100%;
                        
                    }
                }
            }
        }
        .terms-box{
            flex-direction: column;
            gap: 0px;
            display: flex;
            @include lg{
                gap:30px;
                flex-direction: row;

            }
        }
    }
}
