header{
	display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
h1 {
	font-style: normal;
	font-weight: 300;
	font-size: 90px;
	color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}
p {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 75px;
  padding-left: 75px;
}
.button{
  padding-right: 75px;
  padding-left: 75px;
  margin-bottom: 200px;
}
.btn {
  background: linear-gradient(270deg, #0e87c1, #500ec1);
  color: rgba(255, 255, 255, 0.8) !important;
  padding: 0 !important;
  border-radius: 40.25rem !important;
  display: block;
  max-width: max-content;
  padding-right: 75px;
  padding-left: 75px;
}
.btn-inner {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}
.btn-inner-home {
	background-color: rgba(13, 1, 37, 0.9);
	border-radius: 33px;
	display: inline-block;
	margin: 2px;
	padding: 0 3rem;
	text-transform: uppercase;
  }

.btn:hover {
  background-color: rgba(14, 135, 193, 0.8);
}
.section_content {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #C7C7C7;
  padding-right: 160px;
  padding-left: 140px;
  margin-bottom: 200px;
}
.section_maintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding-right: 75px;
  padding-left: 75px;
}
.section_submaintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}
.maintitle_content{
  display: flex;
  margin-bottom: 200px;
}
.image_text{
  display: flex;
}
.section_images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}
.image_bitmap1{
  margin-top: 250px;
}
.section_contact{
  display: flex;
  padding-right: 75px;
  padding-left: 75px;
  justify-content: space-around;
  margin-bottom: 200px;
}
.section_contacttitle {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 250px;
  padding-left: 250px;
}
.contact_title {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}
address {
	font-style: normal;
	font-size: 20px;
	line-height: 29px;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.head_add {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}
.section_footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_icon{
  display: flex;
  padding-left: 170px;
}

.footer {
  border-top: 1px solid #0E87C1;
}
.address_email{
	margin-bottom: 15px;
	color: #0E87C1;
}

@media (max-width: 576px) {
	header{
		display: grid;
    justify-items: start;
    justify-content: start;
    padding-left: 75px;
	}
  .menu {
    display: initial;
    line-height: 35px;
  }
  .maintitle_content{
    display: flex;
    flex-direction: column;
  }
  .section_images{
    display: flex;
    flex-direction: column;
  }
  .section_contacttitle{
    padding-left: 75px;
    padding-right: 75px;
  }
  .section_contact{
    display: flex;
    flex-direction: column;
  }
  .section_content{
    padding-left: 15px;
    padding-right: 15px;
  } 
  .section_content{
    padding-left: 80px;
    padding-right: 80px;
  }
  .contact_address{
    margin-bottom: 20px;
  }
  .footer_icon {
    justify-content: center;
  }
  .section_footer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .maintitle_content_process{
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .section_content_image{
    padding-left: 75px;
  }
  .section_content_image_para{
    padding-left: 75px;
  }
}

@media (max-width: 768px) {
	header{
		display: grid;
    justify-items: start;
    justify-content: start;
    padding-left: 75px;
	}
  .menu {
    display: initial;
    line-height: 35px;
  }
  .maintitle_content{
    display: flex;
    flex-direction: column;
  }
  .section_images{
    display: flex;
    flex-direction: column;
  }
  .section_contacttitle{
    padding-left: 75px;
    padding-right: 75px;
  }
  .section_contact{
    display: flex;
    flex-direction: column;
  }
  .contact_address{
    margin-bottom: 20px;
  }
  .footer_icon {
    padding-left: 40px;
  }

  .section_process_content{
    padding-right: 0;
  }
  .maintitle_content_process{
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .section_content_image{
    padding-left: 75px;
  }
  .section_content_image_para{
    padding-left: 75px;
  }


}