html {
	scroll-behavior: smooth;
  }
  body{
	
	  background: linear-gradient(220deg,#180000,#1c0011 15%,#210126 36%,#0d0125 75%);
	 	  letter-spacing: .02rem;
	  background-repeat: no-repeat;
	  color: #fff;
	}
  .container {
	  padding-left: 0 !important;
	  padding-right: 0 !important;
	  
	}
  .grid-container {
	  display: grid;
	  grid-template-columns: auto auto auto auto auto auto;
	  color:White;
	  margin-top: 12px;
	}
  .heading{
	height: 292px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 120px;
	line-height: 146px; 
	color: #0E87C1;
  }
  .chat{
	  width: 400px;
	  top: 150px;
	
	  font-style: normal;
	  font-weight: 300;
	  font-size: 80px;
	  line-height: 146px;
	  color: #0E87C1;
  }
 .contact_para
 {
	color:rgba(255, 255, 255, 0.5);
font-style:light;
font-size: 20px;
font-weight: 200;
line-height: 45px;
letter-spacing: 0px;
text-align: left;
 }
 .contact_menu
 {
	color:white;
 }
  .conent{
	height: 150px;
	top: 586px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 45px;
	/* or 150% */ 
	color: rgba(255, 255, 255, 0.8);
  }
  .input-fields{
	  width: 695px;
	  top: 586px;
	  font-style: normal;
	  font-size: 15px;
	  line-height: 45px;
	  /* or 150% */
	  color: rgba(255, 255, 255, 0.5);
  }
  .content_home{
	  height:300px ;
	  width: 800px;
	  top: 782px;
	  font-family: 'Montserrat';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 25px;
	  line-height: 35px;
	  /* or 150% */
	  color: #0E87C1;
  }
   .btn{
    width: 182px;
    height: 66px;
    background:none;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 15px;
	border: 1px linear-gradient(270deg,#0e87c1,#500ec1);
}
  hr.footer_line {
	  border-top: 1px solid #0E87C1;
	}
	.footer_icon
	{
		background: black;
		color: white;
		border-radius: 50%;
	  }
	  input {
		background: transparent;
		border: 0;
		border-bottom: 1px solid rgba(254, 254, 254, .6);
		color: rgba(255, 255, 255, .8);
		outline: none;
		width: 80%;
	  }
  textarea{
	  background: transparent;
	  border: 1px solid rgba(254,254,254,.6);
	  box-sizing: border-box;
	  color: rgba(255,255,255,.8);
	  margin-top: 1rem;
	  outline: none;
	  padding: 1rem;
	  resize: none;
	  width: 80%;
    
  }
  .logo{
	  align-items: center;
	  display: flex;
	  justify-content: space-between;
	  padding: 25px 0;
  }
  
  	 .contact {
	width: 695px;
	top: 586px;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 45px;
	/* or 150% */
	color: rgba(255, 255, 255, 0.5);
  }
  .btn {
	background: linear-gradient(270deg, #0e87c1, #500ec1);
	border: none;
	color: rgba(255, 255, 255, .8) !important;
	padding: 0 !important;
	border-radius: 40.25rem !important;
	cursor: pointer;
	display: block;
	font-size: 1.2rem;
  }
  
  .btn-inner {
	background-color: rgba(13, 1, 37, .9);
	border-radius: 33px;
	display: inline-block;
	margin: 2px;
	padding: 1rem 3rem;
	text-transform: uppercase;
	width: px;
  }