@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500");

html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    220deg,
    #180000,
    #1c0011 15%,
    #210126 36%,
    #0d0125 75%
  );
  letter-spacing: 0.02rem;
  color: #fff;
  font-family:'Montserrat', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 5%;
  color: rgba(255, 255, 255, .8);
}
.logo{
  margin-top:30px;

}
.menu {
   
  display: flex;
  float:right;
}

.menu li {
  margin-left: 2rem;
}

ul {
  list-style: none;
}
.header_menu
{
  color: rgba(255, 255, 255, .8);
  float:left;
  margin-top:30px;
}

.card-title {
  font-weight: 200;
  font-size:25px;
}
  .row
  {
    margin-top: 65px;
    width:50%;
    height:60%;
    float:right;

  }

  .rectangle
  {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.205735);
border-radius: 8px;
width:30%;
position:relative;
float:right;
height:280px;

  }
    
  .hiring_content {
    width: 820px;
    left: calc(50% - 820px/2 - 147.5px);
    top: calc(50% - 1096px/2 + 186.5px);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .hiring_cont {
    width: 595px;
    left: calc(50% - 820px/2 - 147.5px);
    top: calc(50% - 1096px/2 + 186.5px);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.5);
    margin-top:25px;
  }
  
  .heading_hiring {
    margin-top: 100px;
    height: 46px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #0E87C1;
  }
 .hiring_img
 {
    float:right;
 } 

.heading_contact {

  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 146px;
  color: #0E87C1;
  margin-top:30px;
}

.contact-form{
  width: 695px;
  top: 586px;
  font-style: normal;
  font-size: 15px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  font-family:'Montserrat', sans-serif;
}
.contact-form-wrapper {
	width: 100%;
  align:left;
  font-family:'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
  }
  input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(254, 254, 254, 0.6);
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    width: 100%;
  }
  textarea {
    background: transparent;
    border: 1px solid rgba(254, 254, 254, 0.6);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    font-family:'Montserrat', sans-serif;
    padding: 1rem;
    resize: none;
    width: 100%;
  }
  .btn {
    background: linear-gradient(270deg, #0e87c1, #500ec1);
    border: none;
    color: rgba(255, 255, 255, .8) !important;
    padding: 0 !important;
    border-radius: 40.25rem !important;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    }
 .btn-inner {
    background-color: rgba(13, 1, 37, .9);
    border-radius: 33px;
    display: inline-block;
    margin: 2px; 
    padding: 1rem 3rem;
    text-transform: uppercase;
   
    }
.footer {
    border-top: 2px solid rgba(14,135,193,.65);
    margin-top: 60px;
}
.footer_icon
{
  color:#fff;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  color:White;
  margin-top: 12px;
  align:left;
}
.policy{
  margin-left: 40px;;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}


@media screen and (max-width: 768px){
.ozzi_logo,.logo{width: 75%;}
.contact-title{
  line-height: 10px;
    font-size: 60px;
}
.contact-form{width: 100%;}
.footer_logo img{margin-left: 0 !important;}
.grid-container{display: block;}
.footer{text-align: center;}
.footer-menu{margin-top: 20px;}
.spn1{margin-left: 0 !important;}
.footer_


{margin-left: 0 !important; margin-top: 20px; margin-bottom: 10px;}
.footer_icon.icn{margin-right: 20px;}
.flogo{margin-bottom: 30px;}
}
@media screen and (max-width: 320px){
  .contact_menu{
    font-size:14px;
  }
  .menu{
    display:flex;
    flex-direction: column;
    font-size:12px;

  }
  .ul li a  {
    margin-left: 2px;
    padding: 1px;
    margin-top:10px;
  }
.heading_contact
{
  font-size:15px;
}
}