@import './variables';
@import './main';
@import './home';
@import './_ourprocess';
@import './_homepage';

body {
	background: linear-gradient(220deg, #180000, #1c0011 15%, #210126 36%, #0d0125 75%);
	color: #fff;
	letter-spacing: .02rem;
	// background-repeat: no-repeat;
}
.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
header{
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.heading_process {
	margin-top: 300px;
	height: 46px;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	color: #0E87C1;
}
.process_head {
	margin-top: 36px;
	width: 80%;
	height: 390px;
	font-style: normal;
	font-weight: 300;
	font-size: 90px;
	line-height: 110px;
	color: #0E87C1;
}
.process_content {
	height: 1096px;
	width: 820px;
	left: calc(50% - 820px/2 - 147.5px);
	top: calc(50% - 1096px/2 + 186.5px);
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.8);
}
.process_content_img {
	width: 420px;
	margin-top: 95px !important;
	left: calc(50% - 820px/2 - 147.5px);
	top: calc(50% - 1096px/2 + 186.5px);
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.8);
}
.process_cont_img {
	width: 476px;
	margin-top: 95px !important;
	left: calc(50% - 820px/2 - 147.5px);
	top: calc(50% - 1096px/2 + 186.5px);
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.8);
}
hr.new4 {
	border-top: 1px solid #0E87C1;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
ul {
	list-style: none;
}
.menu {
	align-items: center;
	display: flex;
	li {
		margin-left: 2rem;
		a {
			color: white !important;
            text-decoration-line: none;
		}
	}
}
.logo {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
}
.img-text {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin-top: 392px;
}
.img-txt {
	margin-top: 392px;
}
.photo {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	img {
		max-width: 100%;
		height: auto;
	}
}
.img_content {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	height: 390px;
	font-style: normal;
	font-weight: 300;
	font-size: 90px;
	line-height: 110px;
	color: #0E87C1;
}
.photo_2 {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
.img_content_2 {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	height: 390px;
	font-style: normal;
	font-weight: 300;
	font-size: 90px;
	line-height: 110px;
	color: #0E87C1;
}
.img_process_1 {
	height: 352px;
	margin-top: -10px;
	width: 450px;
}
.img_process {
	height: 380px;
	margin-top: -62px;
	width: 450px;
}
.footer {
	.col-sm-4 {
		color: rgba(255, 255, 255, .8);
		margin-top: 12px;
	}
}
.hiring_content {
	width: 820px;
	left: calc(50% - 820px/2 - 147.5px);
	top: calc(50% - 1096px/2 + 186.5px);
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 40px;
	color: rgba(255, 255, 255, 0.8);
}
.hiring_cont {
	width: 595px;
	left: calc(50% - 820px/2 - 147.5px);
	top: calc(50% - 1096px/2 + 186.5px);
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 40px;
	color: rgba(255, 255, 255, 0.8);
}
.heading_hiring {
	margin-top: 100px;
	height: 46px;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	color: #0E87C1;
}



@media (max-width: 768px) {
	.head_logo{
		width: 120px;
		height: 40px;
	}
	.menu{
		font-size: 14px;
		display: -webkit-inline-box;
		margin: 0 0 0 -53px;
		li{
			margin-left: 14px;
		}
	}
	.homepage_content{
		width: 600px;
	}
	.home_content_img{
		width: 450px;
	}
	.img_process_1{
		margin-left: 85px;
		margin-top: 50px;
    	width: 260px;
	}
	.img_content_home {
		font-size: 70px;
	}
}

@media (max-width: 576px) {
	.head_logo{
		width: 120px;
		height: 40px;
	}
	.menu{
		font-size: 10px;
		display: -webkit-inline-box;
		margin: 0 0 0 -30px;
		li{
			margin-left: 14px;
		}
	}
	.homepage_content{
		width: 420px;
	}
	.home_content_img{
		width: 346px;
	}
	.img_process_1{
		margin-left: 50px;
		margin-top: 50px;
    	width: 200px;
	}
	.img_content_home {
		font-size: 70px;
	}
}

