@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500");
html {
  scroll-behavior: smooth;
  font-family: sans-serif !important;
  overflow-x: hidden;
}

body {
  background: linear-gradient(220deg, #180000, #1c0011 15%, #210126 36%, #0d0125 75%);
  color: #fff;
  letter-spacing: 0.02rem;
  background-repeat: no-repeat;
  font-family: "Montserrat", serif;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
}

#header.scrolled {
  background: rgba(14, 5, 42, 0.9);
  color: #e0e0e0;
  transition: all 0.3s ease;
}

.btn {
  background: linear-gradient(270deg, #0e87c1, #500ec1);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  border-radius: 40.25rem;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
}

.btn-inner {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-menu a .img-logo {
  background-image: url("../assets/logo/Ozzitech logo Light.png");
  width: 200px;
  height: 40px;
  margin-right: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 993px) {
  .nav-menu a .img-logo {
    width: 300px;
    height: 100px;
  }
}
.nav-menu .nav-list {
  display: flex;
  gap: 25px;
  position: fixed;
  z-index: 3;
  background-image: linear-gradient(rgb(32, 8, 37), rgb(8, 8, 19));
  padding: 60px 0;
  right: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  transition: 1s ease;
  right: -1000px;
  flex-direction: column;
}
.nav-menu .nav-list li {
  padding: 20px;
}
.nav-menu .nav-list .nav-item {
  list-style-type: none;
}
.nav-menu .nav-list .nav-item .nav-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}
.nav-menu .nav-list .nav-item .nav-link:hover {
  color: rgba(14, 135, 193, 0.8);
}
@media (min-width: 993px) {
  .nav-menu .nav-list {
    flex-direction: row;
    transition: none;
    position: static;
    background-image: none;
    height: auto;
    padding: 0;
  }
}
.nav-menu .hamburger {
  display: block;
  z-index: 3;
  cursor: pointer;
  right: 0;
}
@media (min-width: 576px) {
  .nav-menu .hamburger {
    display: block;
  }
}
@media (min-width: 993px) {
  .nav-menu .hamburger {
    display: none;
  }
}
.nav-menu .hamburger .bar {
  transition: 600ms;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  display: block;
  margin: 7px;
  background-color: white;
}
.nav-menu .active .bar:nth-child(2) {
  opacity: 0;
}
.nav-menu .active .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.nav-menu .active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.active {
  right: 0px !important;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  margin-top: 10%;
  background-image: url("../assets/images/Stars.png");
  background-size: contain;
  font-family: "Montserrat", serif;
}
@media (min-width: 576px) {
  .intro {
    padding: 10px;
    font-size: 0.7em;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 993px) {
  .intro {
    padding: 20px 100px;
    text-align: left;
    align-items: flex-start;
  }
}
.intro h2 {
  width: 100%;
  font-size: 3em;
  line-height: 1em;
  color: rgba(14, 135, 193, 0.8);
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .intro h2 {
    width: 100%;
    font-size: 4.5em;
    line-height: 1em;
  }
}
@media (min-width: 993px) {
  .intro h2 {
    width: 70%;
    font-weight: 300;
    font-size: 6em;
    line-height: 1.5em;
    text-align: left;
  }
}
.intro p {
  color: #FFFFFF;
  font-size: 1em;
  width: 80%;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
}
@media (min-width: 768px) {
  .intro p {
    font-size: 1.5em;
    width: 80%;
  }
}
@media (min-width: 993px) {
  .intro p {
    width: 50%;
    line-height: 1.5em;
    padding: 0;
    font-size: 2em;
    text-align: left;
    align-self: flex-start;
  }
}
.intro button {
  align-self: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (min-width: 993px) {
  .intro button {
    margin-left: 20px;
    margin-top: 30px;
    align-self: flex-start;
  }
}
.intro-img {
  background-image: url("../assets/images/Rocket.png");
  width: 180px;
  height: 180px;
  margin-top: 20px;
  align-self: flex-end;
  background-repeat: no-repeat;
  background-size: contain;
}

.desc-section {
  margin: 40px 10px;
}
@media (min-width: 768px) {
  .desc-section {
    margin: 40px;
  }
}
@media (min-width: 993px) {
  .desc-section {
    margin: 100px 350px;
  }
}
.desc-section p {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: center;
  padding: 0;
}

.our-work {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
  gap: 30px;
}
@media (min-width: 768px) {
  .our-work {
    margin: 40px;
  }
}
@media (min-width: 993px) {
  .our-work {
    margin: 50px 100px;
  }
}
.our-work h2 {
  padding: 10px 0px;
  border-bottom: 3px solid rgba(14, 135, 193, 0.8);
  width: 70%;
  font-weight: 500;
}
@media (min-width: 993px) {
  .our-work h2 {
    width: 30%;
  }
}
.our-work .outer-box {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.our-work .outer-box .img-box {
  width: 70%;
  height: auto;
}
@media (min-width: 768px) {
  .our-work .outer-box .img-box {
    margin: 100px;
  }
}
@media (min-width: 993px) {
  .our-work .outer-box .img-box {
    height: 700px;
  }
}
.our-work .outer-box .img-box img {
  max-width: 100%;
  max-height: 100%;
}
.our-work .outer-box .img-box:nth-child(even) {
  align-self: flex-end;
}
.our-work .outer-box .img-box:nth-child(even) .card {
  margin-left: -20%;
}
.our-work .outer-box .img-box:nth-child(odd) .card {
  margin-left: 60%;
}
.our-work .outer-box .img-box .card {
  display: flex;
  flex-direction: column;
  color: #021132;
  width: 50%;
  opacity: 0.9;
  background-color: white;
  margin-top: -50%;
  font-size: 0.6em;
  padding: 10px;
}
@media (min-width: 993px) {
  .our-work .outer-box .img-box .card {
    padding: 25px 50px;
    font-size: 1em;
  }
}
.our-work .outer-box .img-box .card p {
  color: #021132;
  font-size: 1em;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 576px) {
  .our-work .outer-box .img-box .card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 768px) {
  .our-work .outer-box .img-box .card p {
    white-space: normal;
  }
}
.our-work .outer-box .img-box .card a {
  text-decoration: none;
  color: #021132;
  align-self: end;
  margin-top: 5px;
}
@media (min-width: 993px) {
  .our-work .outer-box .img-box .card a {
    margin-top: 20px;
  }
}
.our-work .outer-box .img-box .card a:hover {
  color: rgb(29, 13, 66);
  font-weight: 600;
}

.our-process {
  margin: 40px 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .our-process {
    margin: 40px;
  }
}
@media (min-width: 993px) {
  .our-process {
    margin: 50px 100px;
  }
}
.our-process h2 {
  padding: 10px 0px;
  border-bottom: 3px solid rgba(14, 135, 193, 0.8);
  width: 70%;
  font-weight: 500;
}
@media (min-width: 993px) {
  .our-process h2 {
    width: 30%;
  }
}
.our-process .our-process-list {
  margin-bottom: 130px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .our-process .our-process-list {
    flex-direction: row;
    text-align: left;
  }
}
.our-process .our-process-list .btn {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.our-process .our-process-list p {
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
}
.our-process .our-process-list p:first-child {
  width: 100%;
}
@media (min-width: 993px) {
  .our-process .our-process-list p:first-child {
    width: 60%;
  }
}
.our-process .our-process-list .img-box {
  display: none;
}
.our-process .our-process-list .img-box img {
  width: 100%;
}
@media (min-width: 768px) {
  .our-process .our-process-list .img-box {
    display: block;
  }
}
@media (min-width: 993px) {
  .our-process .our-process-list .img-box {
    height: full;
    width: 30%;
  }
}
.our-process .our-process-list .our-process-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 993px) {
  .our-process .our-process-list .our-process-desc {
    width: 60%;
  }
}
.our-process .our-process-list .our-process-desc h3 {
  margin: 0;
  font-size: 2.3em;
  font-weight: 500;
  color: #0E87C1;
}
@media (min-width: 576px) {
  .our-process .our-process-list .our-process-desc h3 {
    font-size: 3em;
  }
}
.our-process .our-process-list .our-process-desc p {
  font-size: 1em;
}

footer {
  border-top: 2px solid rgba(14, 135, 193, 0.8);
}
footer .footer-box {
  margin: 30px;
  font-size: 0.7em;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  footer .footer-box {
    font-size: 1em;
  }
}
footer .footer-box p {
  padding: 0;
  font-size: 1em;
}
footer .footer-box .ozzitech-info .img-box {
  height: 20px;
  width: 100%;
  background: url("../assets/logo/Ozzitech logo Light.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  footer .footer-box .ozzitech-info .img-box {
    height: 30px;
  }
}
footer .footer-box .ozzitech-info .socials {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
footer .footer-box .ozzitech-info .socials div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(14, 135, 193, 0.8);
  overflow: hidden;
}
@media (min-width: 768px) {
  footer .footer-box .ozzitech-info .socials div {
    width: 40px;
    height: 40px;
  }
}
footer .footer-box .ozzitech-info .socials div img {
  height: 100%;
  width: 100%;
}
footer .footer-box .terms-box {
  flex-direction: column;
  gap: 0px;
  display: flex;
}
@media (min-width: 993px) {
  footer .footer-box .terms-box {
    gap: 30px;
    flex-direction: row;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 75px;
  padding-right: 75px;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}

.section_process_content {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 566px;
  padding-left: 0;
}

.button {
  padding-right: 75px;
  padding-left: 75px;
  margin-bottom: 200px;
}

.btn {
  background: linear-gradient(270deg, #0e87c1, #500ec1);
  color: rgba(255, 255, 255, 0.8) !important;
  padding: 0 !important;
  border-radius: 40.25rem !important;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-right: 75px;
  padding-left: 75px;
}

.btn-inner {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgba(14, 135, 193, 0.8);
}

.section_content {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #C7C7C7;
  padding-right: 160px;
  padding-left: 140px;
  margin-bottom: 200px;
}

.section_maintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding-right: 75px;
  padding-left: 75px;
}

.section_submaintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
  margin-top: 100px;
}

.maintitle_content_process {
  display: flex;
  margin-bottom: 200px;
}

.maintitle_content_pro {
  display: flex;
  margin-bottom: 200px;
}

.image_text {
  display: flex;
}

.section_images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}

.image_bitmap1 {
  margin-top: 250px;
}

.section_contact {
  display: flex;
  padding-right: 75px;
  padding-left: 75px;
  justify-content: space-around;
  margin-bottom: 200px;
}

.section_contacttitle {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 250px;
  padding-left: 250px;
}

.contact_title {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

address {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.head_add {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.section_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_icon {
  display: flex;
  padding-left: 170px;
}

.footer {
  border-top: 1px solid #0E87C1;
}

.address_email {
  margin-bottom: 15px;
  color: #0E87C1;
}

@media (max-width: 992px) {
  h1 {
    font-size: 55px;
  }

  .section_process_content {
    padding-right: 0px;
  }

  .image_text_process {
    width: 50%;
    padding-left: 75px;
  }

  .maintitle_content_pro {
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
  }

  .maintitle_content_process {
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
  }

  .section_content_image {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_content_image_para {
    padding-left: 75px;
    padding-right: 75px;
  }

  .footer_icon {
    padding-left: 80px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 75px;
    padding-right: 75px;
  }

  .image_text_homepage {
    padding-left: 75px;
  }

  .bitmap {
    padding-left: 75px;
  }

  .section_contacttitle {
    padding-left: 163px;
  }

  .head_add {
    font-size: 16px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }
}
@media (max-width: 768px) {
  .head_logo {
    width: 120px;
    height: 40px;
  }

  .menu {
    font-size: 10px;
    display: -webkit-inline-box;
    margin: 0 0 0 -53px;
  }

  .menu li {
    margin-left: 14px;
  }

  .homepage_content {
    width: 600px;
  }

  .home_content_img {
    width: 450px;
  }

  .img_process_1 {
    margin-left: 85px;
    margin-top: 50px;
    width: 260px;
  }

  .img_content_home {
    font-size: 70px;
  }

  header {
    display: grid;
    justify-items: start;
    justify-content: start;
    padding-left: 75px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 25px;
  }

  .menu {
    display: initial;
    line-height: 35px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_contacttitle {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_contact {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 80px;
    padding-right: 80px;
  }

  .contact_address {
    margin-bottom: 20px;
  }

  .footer_icon {
    padding-left: 40px;
  }

  .section_process_content {
    padding-right: 0;
  }

  .maintitle_content_process {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .section_content_image {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_content_image_para {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_submaintitile {
    font-size: 25px;
  }

  .maintitle_content_pro {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }

  .image_text_homepage {
    width: 70%;
    padding-left: 75px;
  }

  .bitmap {
    padding-left: 75px;
  }
}
@media (max-width: 576px) {
  .head_logo {
    width: 120px;
    height: 40px;
  }

  header {
    display: flex;
    padding: 0;
  }

  .menu {
    font-size: 10px;
    display: -webkit-inline-box;
    margin: 0 0 0 -30px;
  }

  .menu li {
    margin-left: 14px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 25px;
  }

  .section_content {
    font-size: 25px;
  }

  .homepage_content {
    width: 420px;
  }

  .home_content_img {
    width: 346px;
  }

  .img_process_1 {
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
  }

  .img_content_home {
    font-size: 70px;
  }

  .image_text_homepage {
    width: 70%;
    padding-left: 75px;
  }

  .bitmap {
    width: 70%;
    padding-left: 75px;
  }

  .head_add {
    font-size: 16px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .section_footer {
    font-size: 14px;
  }

  header {
    display: grid;
    justify-items: start;
    justify-content: start;
    padding-left: 75px;
  }

  .menu {
    display: initial;
    line-height: 35px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_contacttitle {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_contact {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 75px;
    padding-right: 75px;
  }

  .contact_address {
    margin-bottom: 20px;
  }

  .section_footer {
    display: flex;
    align-items: center;
  }

  .maintitle_content_process {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .section_content_image {
    padding-left: 75px;
  }

  .section_content_image_para {
    padding-left: 75px;
  }

  .section_submaintitile {
    font-size: 25px;
  }

  .maintitle_content_pro {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }

  .content_image {
    width: 100%;
  }
}
@media (max-width: 320px) {
  header {
    display: grid;
    padding: 0;
  }

  h1 {
    font-size: 50px;
    padding: 0;
  }

  p {
    padding: 0;
    font-size: 20px;
  }

  .button {
    width: 287px;
    padding: 0;
  }

  .section_maintitile {
    padding: 0;
  }

  .section_submaintitile {
    padding: 0;
  }

  .section_contacttitle {
    padding: 0;
  }

  .section_content {
    padding: 0;
    font-size: 20px;
  }

  .btn-inner {
    font-size: 12px;
  }

  .btn-inner-home {
    padding: 0 3rem;
    font-size: 18px;
  }

  .image_text_homepage {
    width: 100%;
    padding-left: 0;
  }

  .bitmap {
    width: 100%;
    padding-left: 0;
  }

  .section_contact {
    padding: 0;
  }

  .head_add {
    font-size: 12px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .section_footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  .image_text_process {
    width: 100%;
  }

  .footer_icon {
    display: flex;
    justify-content: space-around;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 75px;
  padding-left: 75px;
}

.button {
  padding-right: 75px;
  padding-left: 75px;
  margin-bottom: 200px;
}

.btn {
  background: linear-gradient(270deg, #0e87c1, #500ec1);
  color: rgba(255, 255, 255, 0.8) !important;
  padding: 0 !important;
  border-radius: 40.25rem !important;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-right: 75px;
  padding-left: 75px;
}

.btn-inner {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.btn-inner-home {
  background-color: rgba(13, 1, 37, 0.9);
  border-radius: 33px;
  display: inline-block;
  margin: 2px;
  padding: 0 3rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgba(14, 135, 193, 0.8);
}

.section_content {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #C7C7C7;
  padding-right: 160px;
  padding-left: 140px;
  margin-bottom: 200px;
}

.section_maintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding-right: 75px;
  padding-left: 75px;
}

.section_submaintitile {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 75px;
  padding-left: 75px;
}

.maintitle_content {
  display: flex;
  margin-bottom: 200px;
}

.image_text {
  display: flex;
}

.section_images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}

.image_bitmap1 {
  margin-top: 250px;
}

.section_contact {
  display: flex;
  padding-right: 75px;
  padding-left: 75px;
  justify-content: space-around;
  margin-bottom: 200px;
}

.section_contacttitle {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #0E87C1;
  padding-right: 250px;
  padding-left: 250px;
}

.contact_title {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

address {
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.head_add {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.section_footer {
  display: flex;
  align-items: center;
}

.footer_icon {
  display: flex;
  padding-left: 170px;
}

.footer {
  border-top: 1px solid #0E87C1;
}

.address_email {
  margin-bottom: 15px;
  color: #0E87C1;
}

@media (max-width: 992px) {
  h1 {
    font-size: 55px;
  }

  .section_process_content {
    padding-right: 0px;
  }

  .image_text_process {
    width: 50%;
    padding-left: 75px;
  }

  .maintitle_content_pro {
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
  }

  .maintitle_content_process {
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
  }

  .section_content_image {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_content_image_para {
    padding-left: 75px;
    padding-right: 75px;
  }

  .footer_icon {
    padding-left: 80px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 75px;
    padding-right: 75px;
  }

  .image_text_homepage {
    padding-left: 75px;
  }

  .bitmap {
    padding-left: 75px;
  }

  .section_contacttitle {
    padding-left: 163px;
  }

  .head_add {
    font-size: 16px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .content_image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .head_logo {
    width: 120px;
    height: 40px;
  }

  .menu {
    font-size: 10px;
    display: -webkit-inline-box;
    margin: 0 0 0 -53px;
  }

  .menu li {
    margin-left: 14px;
  }

  .homepage_content {
    width: 600px;
  }

  .home_content_img {
    width: 450px;
  }

  .img_process_1 {
    margin-left: 85px;
    margin-top: 50px;
    width: 260px;
  }

  .img_content_home {
    font-size: 70px;
  }

  header {
    display: grid;
    justify-items: start;
    justify-content: start;
    padding-left: 75px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 25px;
  }

  .menu {
    display: initial;
    line-height: 35px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_contacttitle {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_contact {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 80px;
    padding-right: 80px;
  }

  .contact_address {
    margin-bottom: 20px;
  }

  .footer_icon {
    padding-left: 40px;
  }

  .section_process_content {
    padding-right: 0;
  }

  .maintitle_content_process {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .section_content_image {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_content_image_para {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_submaintitile {
    font-size: 25px;
  }

  .maintitle_content_pro {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }

  .image_text_homepage {
    width: 70%;
    padding-left: 75px;
  }

  .bitmap {
    padding-left: 75px;
  }

  .content_image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .head_logo {
    width: 120px;
    height: 40px;
  }

  header {
    display: flex;
    padding: 0;
  }

  .menu {
    font-size: 10px;
    display: -webkit-inline-box;
    margin: 0 0 0 -30px;
  }

  .menu li {
    margin-left: 14px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 25px;
  }

  .section_content {
    font-size: 25px;
  }

  .homepage_content {
    width: 420px;
  }

  .home_content_img {
    width: 346px;
  }

  .img_process_1 {
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
  }

  .img_content_home {
    font-size: 70px;
  }

  .image_text_homepage {
    width: 70%;
    padding-left: 75px;
  }

  .bitmap {
    width: 70%;
    padding-left: 75px;
  }

  .head_add {
    font-size: 16px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .section_footer {
    font-size: 14px;
  }

  header {
    display: grid;
    justify-items: start;
    justify-content: start;
    padding-left: 75px;
  }

  .menu {
    display: initial;
    line-height: 35px;
  }

  .maintitle_content {
    display: flex;
    flex-direction: column;
  }

  .section_images {
    display: flex;
    flex-direction: column;
  }

  .section_contacttitle {
    padding-left: 75px;
    padding-right: 75px;
  }

  .section_contact {
    display: flex;
    flex-direction: column;
  }

  .section_content {
    padding-left: 75px;
    padding-right: 75px;
  }

  .contact_address {
    margin-bottom: 20px;
  }

  .section_footer {
    display: flex;
    align-items: center;
  }

  .maintitle_content_process {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .section_content_image {
    padding-left: 75px;
  }

  .section_content_image_para {
    padding-left: 75px;
  }

  .section_submaintitile {
    font-size: 25px;
  }

  .maintitle_content_pro {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }

  .content_image {
    width: 100%;
  }
}
@media (max-width: 320px) {
  header {
    display: grid;
    padding: 0;
  }

  h1 {
    font-size: 50px;
    padding: 0;
  }

  p {
    padding: 0;
    font-size: 20px;
  }

  .button {
    width: 287px;
    padding: 0;
  }

  .section_maintitile {
    padding: 0;
  }

  .section_submaintitile {
    padding: 0;
  }

  .section_contacttitle {
    padding: 0;
  }

  .section_content {
    padding: 0;
    font-size: 20px;
  }

  .btn-inner {
    font-size: 12px;
  }

  .btn-inner-home {
    padding: 0 3rem;
    font-size: 18px;
  }

  .image_text_homepage {
    width: 100%;
    padding-left: 0;
  }

  .bitmap {
    width: 100%;
    padding-left: 0;
  }

  .section_contact {
    padding: 0;
  }

  .head_add {
    font-size: 12px;
  }

  address {
    font-size: 14px;
  }

  .contact_address {
    margin-top: 12px;
  }

  .icons {
    width: 18px;
  }

  .section_footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  .image_text_process {
    width: 100%;
  }

  .footer_icon {
    display: flex;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */